body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #34a853;
  color: white;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

form {
  margin: 20px;
}

input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#scan-qr {
  background-color: #fbbc04;
  color: #000;
}

#close-camera,
#back-home-button {
  background-color: #4285f4;
  color: white;
}

#error-message {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

#camera-container {
  text-align: center;
  margin-top: 20px;
}

#thank-you-screen h1 {
  font-size: 2rem;
}

#thank-you-screen button {
  background-color: #fbbc04;
  color: #000;
}
